header {
    width:100vw;
    height: 90px;
    background-color: pink;
}

main {
    width: 100vw;
    margin-top: 30px;
}

footer {
    width: 100vw;
    height: 45px;
    background-color: pink;
}

article {
    background-color: lavender;
    position: relative;
}

main > section {
    width: 80%;
    height: auto;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, minmax(180px, 17vw));
    grid-template-rows: repeat(6, minmax(180px, 17vw));

    grid-template-areas:
    "image_1 image_1 image_2 info_1 info_2"
    "image_1 image_1 orange_1 image_3 info_3"
    "image_4 orange_2 image_5 image_5 orange_3"
    "image_6 image_7 image_7 info_4 image_8"
    "image_9 image_7 image_7 image_10 image_10"
    "image_11 image_11 orange_4 image_12 orange_5"
    ;
    
    gap: 5px;

    background-color: lightblue;
}

.item_1{
    background-image: url("../assets/images/angel-babies.jpg");
    background-size: cover;
    background-position: center;

    grid-area: image_1;
}

.item_2 {
    background-image: url("../assets/images/angel-blue.webp");
    background-size: cover;
    background-position: center;

    grid-area: image_2;
}

.item_3 {
    background-color: black;
    grid-area: info_1;
}

.item_4 {
    background-color: black;
    grid-area: info_2;
}

.item_5 {
    background-color: orange;
    grid-area: orange_1;
}

.item_6 {
    background-image: url("../assets/images/blossom-girl.jpg");
    background-size: cover;
    background-position: center;

    grid-area: image_3;
}

.item_7 {
    background-color: black;
    grid-area: info_3;
}

.item_8 {
    background-image: url("../assets/images/cat.jpg");
    background-size: cover;
    background-position: center;

    grid-area: image_4;
}

.item_9 {
    background-color: orange;
    grid-area: orange_2;
}

.item_10 {
    background-image: url("../assets/images/cupcake-girl.webp");
    background-size: cover;
    background-position: center;

    grid-area: image_5;
}

.item_11 {
    background-color: orange;
    grid-area: orange_3;
}

.item_10 {
    background-image: url("../assets/images/cupcake-girl.webp");
    background-size: cover;
    background-position: center;

    grid-area: image_5;
}

@media only screen and (max-width:650px) {
    main > section {
        width: 80%;
        height: auto;
        margin: 0 auto;
    
        display: grid;
        grid-template-columns: repeat(3, minmax(180px, 17vw));
        grid-template-rows: repeat(10, minmax(180px, 17vw));
    
        grid-template-areas:
        "image_1 image_1 image_2"
        "image_1 image_1 orange_1" 
        "info_1 image_3 info_3"
        "image_4 orange_2 info_2"
        "image_5 image_5 orange_3"
        "image_6 image_7 image_7 "
        "image_9 image_7 image_7 "
        "info_4 image_10 image_10"
        "image_11 image_11 orange_4" 
        "image_12 orange_5 image_8"
        ;
        
        gap: 5px;
    
        background-color: lightblue;
    }
}