/* highlighted text colours */
.red {
    color: red;
}

.lavender {
    color: #6c5ce7;
}

.info {
    padding: 10px;
}

/* nav bar */
.navbar-brand {
    font-size: 24px;
}

/* big text adjustments */
.hero-header {
    margin: 70px;
}

.hero-header > h1 {
    font-size: 50px;
}

.hero-header > h2 {
    font-size: 30px;
}

.icons {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

#thumbs-up {
    background-image: url("../images/icon-thumbs-up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FF7675;
}

#zap-off {
    background-image: url("../images/icon-zap-off.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #00B894;
}

#linkedin {
    background-image: url("../images/icon-linkedin.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #E84393;
}

#briefcase {
    background-image: url("../images/icon-briefcase.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #74B9FF;
}

/* hide desktop nav items */
/*.hamburger ul{
    display: none;
}*/

/* for desktop */
@media (min-width: 650px){
    /* nav bar */
    .navbar-brand {
        font-size: 50px;
    }

    /* big text adjustments */
    .hero-header {
        margin: 100px;
    }
    
    .hero-header > h1 {
        font-size: 75px;
    }
    
    .hero-header > h2 {
        font-size: 50px;
    }

    /* remove hamburger */
    /*.hamburger ul{
        display: flex; /* flex or content 
    } */
}